body {
    margin: 0;
    padding: 0;
    background-color: #ffd6e7;
    font-family: Arial, sans-serif;
    text-align: center;
    overflow: hidden;
}

h1 {
    margin-top: 100px;
    color: #d63384;
    font-size: 28px;
}

.buttons {
    margin-top: 40px;
    position: relative;
    height: 200px;
}

button {
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#yesBtn {
    background-color: #ff4da6;
    color: white;
    margin-right: 20px;
}

#noBtn {
    background-color: #999;
    color: white;
    position: absolute;
    left: 55%;
    top: 0;
}

#message {
    margin-top: 50px;
    font-size: 30px;
    color: #ff1493;
    display: none;
}

.cats {
    display: none;
    margin-top: 30px;
    font-size: 60px;
    animation: dance 0.5s infinite alternate;
}

@keyframes dance {
    from { transform: rotate(-15deg); }
    to { transform: rotate(15deg); }
}

.background-kittens {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('https://media.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif');
    background-repeat: repeat;
    opacity: 0.2;
    z-index: -1;
}
